* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__title {
  display: flex;
  align-items: center;
}

.title {
  color: #55b2e4;
  font-size: 13px;
  font-weight: 700;
}

.subtitle {
  font-size: 8px;
  padding-left: 5px;
}

.divideLine {
  width: 100%;
  border-top: 1px solid gray;
  margin: 10px 0px;
}

.albumWrapper {
  display: flex;
  justify-content: space-around;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.albumWrapper__item {
  display: flex;
  flex-direction: column;
}

.album-thumbnail {
  width: 120px;
  height: 120px;
}
.album-songtitle {
  width: 120px;
  height: 15px;
  font-weight: 700;
  font-size: 11px;
  display: flex;
  justify-content: center;
  color: #0f465e;
}
.album-artist {
  font-size: 10px;
  font-weight: 700;
  color: #999999;
  display: flex;
  justify-content: center;
}

.wrapper__body {
  width: 100%;
}

.albumTable {
  width: 100%;
  padding-top: 8px;
  border-spacing: 0px;
}
.albumTable th {
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  color: gray;
  background-color: #eeeeee;
  padding-top: 5px;
  border-top: 1px solid gray;
  border-bottom: 1px dashed gray;
}
.albumTable td {
  height: 20px;
  font-size: 10px;
  color: #0f465e;
  border-bottom: 1px dashed gray;
}
.album-table-checkbox {
  width: 5%;
  text-align: center;
}
.album-table-number {
  width: 10%;
  text-align: center;
}
.album-table-song {
  width: 45%;
  text-align: left;
}
.album-table-artist {
  width: 30%;
  text-align: center;
}

/* html에서 <table>을 사용하지 않고 내가 썼던 코드.

.albumTable {
  display: flex;
  flex-direction: column;

}

.albumTable__list,
.albumTable__song {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
}

.albumTable__list {
  margin-top: 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.albumTable__list div {
  font-size: 10px;
  font-weight: 700;
  color: #999999;
}

.albumTable__song {
  border-bottom: 1px dashed #999999;
}
.song__number {
  font-size: 10px;
  color: #000000;
}
.song__name,
.song__artist {
  font-size: 10px;
  color: #0f465e;
}

.albumTable__list :first-child,
.albumTable__song :first-child {
  width: 10%;
  display: flex;
  justify-content: center;
}
.albumTable__list :nth-child(2),
.albumTable__song :nth-child(2) {
  text-align: center;
  width: 10%;
}
.albumTable__list :nth-child(3),
.albumTable__song :nth-child(3) {
  width: 60%;
  padding-left: 4%;
}
.albumTable__list :last-child,
.albumTable__song :last-child {
  width: 20%;
} */
